python-dotenv
langchain
langchain-core
langchain-community
langchain-experimental
langgraph
langchain-cli
langsmith
langchain-openai
streamlit

langserve
fastapi
uvicorn


sse_starlette
bs4
pypdf
chromadb
beautifulsoup4
langchainhub
sentence_transformers
PyPDF2
numpy
faiss-cpu
wikipedia
langchain-groq
arxiv
groq
cassio

-e .